{% load custom_tags %}
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="info">
            <th></th>
            <th>Job ID</th>
            <th>Upload Type</th>
            <th>File Action</th>
            <th>Account</th>
            <th>Status</th>
            <th>Upload User</th>
            <th>Priority</th>
            <th>Queued At</th>
        </tr>
    </thead>
    <tbody>
{% if queuedata.count <= 0 %} 
       <tr class="warning">
           <td colspan=9 style="text-align:center">The Queue is Empty !!</td>
       </tr>
{% else %}
  {% for data in queuedata.data %}
     {% if data.priority > 0 %}
        {% set "danger" as alertStyle %}
     {% elif data.status == 'running' %}
        {% set "success" as alertStyle %}
     {% elif data.status == 'waiting' %}
        {% set "" as alertStyle %}
     {% else %}
        {% set "warning" as alertStyle %}
     {% endif %}

     {% if data.status == 'running' %}
        {% set '<img alt="RUNNING" title="RUNNING" src="/static/assets/brandify/images/RUNNING.gif">' as jobContent %}
     {% elif data.status == 'waiting' %}
        {% set '<img alt="WAITING" title="WAITING" src="/static/assets/brandify/images/WAITING.gif">' as jobContent %}
     {% elif data.status == 'READY' %}
        {% set '<img alt="WAITING" title="WAITING" src="/static/assets/brandify/images/WAITING.gif">' as jobContent %}
     {% else %}
        {% set data.status as jobContent %}
     {% endif %}

          <tr class="{{alertStyle}}">
              <td>
             {% if data.status == 'waiting' %}<input class="selected_job" type="radio" environment="{{queuedata.environment}}" name="{{queuedata.environment}}_jobhistoryuid" value="{{data.jobhistoryuid}}"></input> {% else %} &nbsp;&nbsp; {% endif %}
              </td>
              <td>{{data.jobhistoryuid}}</td>
              <td>{{data.jobtype}}</td>
              <td>{{data.fileactions}}</td>
              <td>{{data.schema}}</td>
              <td>{{jobContent}}</td>
              <td>{{data.authuser}}</td>
              <td>{{data.priority}}</td>
              <td>{{data.entrydate}}</td>
          </tr>
  {% endfor %}
{% endif %}
     </tbody>
</table>
