            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<img class="navbar-brand" style="padding:1px;" width="100" height="100" src="/static/assets/brandify/images/unicorn_100_102.png" alt="Unicorn Logo"/>
                <a class="navbar-brand" href="/home"><strong><font style="font-size:18px">Unicorn</font><font style="font-size:12px">&nbsp;&nbsp;v0.7</font></strong></a>
            </div>
            <!-- /.navbar-header -->
