{% if session.is_authenticated %}
            <div id="menu-sidebar" class="navbar-default sidebar lmenu" style="background-color:#f5f5f5" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search/static/assets.">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/home/"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                        </li>
                        <!--
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                        </li> -->
                        <li>
                            <a href="/util/app/applist"><i class="fa fa-sitemap fa-fw"></i>Utilities</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-external-link fa-fw"></i>External Apps<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/util/app/clearcache/show/">Clear Varnish Cache</a>
                                </li>
                                <li>
                                    <a href="#">Upload Queue<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/util/app/pull/uploadqueue/devl/">Development</a>
                                        </li>
                                        <li>
                                            <a href="/util/app/pull/uploadqueue/stag/">Staging</a>
                                        </li>
                                        <li>
                                            <a href="/util/app/pull/uploadqueue/prod/">Production</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Location Audit<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/main/epage/locationaudit/development">Development</a>
                                        </li>
                                        <li>
                                            <a href="/main/epage/locationaudit/staging">Staging</a>
                                        </li>
                                        <li>
                                            <a href="/main/epage/locationaudit/production">Production</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Location/LDS Mapping<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/main/epage/locationmapping/development">Development</a>
                                        </li>
                                        <li>
                                            <a href="/main/epage/locationmapping/staging">Staging</a>
                                        </li>
                                        <li>
                                            <a href="/main/epage/locationmapping/production">Production</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">CB Wait Time<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/main/epage/cbdinetime/staging">Staging</a>
                                        </li>
                                        <li>
                                            <a href="/main/epage/cbdinetime/production">Production</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="/util/app/dinetimestats/show/">CB Dinetime Report</a>
                                </li>
                                <li>
                                    <a href="/main/epage/socialdatadeduplication">Social Deduplication Report</a>
                                </li>
                                <li>
                                    <a href="/main/epage/brokenurls">Detect Broken URLs</a>
                                </li>
                                <li>
                                    <a href="/main/epage/validatejson">JSON Validator</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
{% endif %}
