<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unicorn</title>

    <link rel="shortcut icon" href="/static/assets/brandify/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/assets/brandify/images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/assets/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0;background-color:#2e6da4;">
            {% include "core/includes/nav_header.html" %}
        </nav>

         <div class="container">
             <div class="row">
                 <div class="col-md-8 col-md-offset-2">
                     <div class="login-panel panel panel-primary" style="background-color:#eeeeee">
                         <div class="panel-heading">
                             <p class="fa fa-sign-in" style="float: left; padding-right:15px; padding-top:3px">
                             <h3 class="panel-title" style="padding-right:15px; padding-top:3px">Login</h3> </p>
                         </div>
                         <div class="panel-body" style="width:60%; margin:auto; padding-top:30px;">
                             <form action="/core/dologin{% if next %}/?next={{next}}{% endif %}" method="post" role="form"> {% csrf_token %}
                                 <fieldset>
                                     <div class="form-group">
                                         <input class="form-control" placeholder="Username" name="username" autofocus>
                                     </div>
                                     <div class="form-group">
                                         <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                     </div>
                                     <div class="form-group checkbox">
                                         <label>
                                             <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                         </label>
                                     </div>
                                     <div class="form-group button" style="text-align:center">
                                         <input class="btn btn-primary btn-medium" type="submit" value="Login">
                                     </div>
                                 </fieldset>
                                 {% if login_failed %}
                                 <div class="alert alert-danger alert-dismissable">
                                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                     Login Incorrect!!
                                 </div>
                                 {% elif login_success %}
                                 <div>
                                     <label><p class="text-success">Login Success !!</p></label>
                                 </div>
                                 {% elif login_action == 'logout' %}
                                 <div class="alert alert-success alert-dismissable">
                                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                     You are logged out.
                                 </div>
                                 {% endif %}
                             </form>
                         </div>
                         <div class="panel-body" style="width:60%; margin:auto">
                             <div>
                                 <label>Forgot your password ?  </label>
                                 Click here to <a href="/core/resetpassword/prompt" class="">Reset</a>
                             </div>
                             <div>
                                   <label>New User ?  </label>
                                   Click here to <a href="/core/register/" class="">Register</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- End container -->
    </div>
        <!-- End wrapper -->
    <!-- jQuery -->
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/assets/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/assets/dist/js/sb-admin-2.js"></script>

</body>

</html>
