{% extends "core/base.html" %}
{% block content %}
{% load custom_tags %}
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header"><strong>User Profile</strong></h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                   {% if save_success %}
                       {% set "alert-success" as alertstyle %}
                       {% set "btn-info" as btnstyle %}
                       {% set "fa-check" as fastyle %}
                   {% elif save_failed %}
                       {% set "alert-danger" as alertstyle %}
                       {% set "btn-warning" as btnstyle %}
                       {% set "fa-times" as fastyle %}
                   {% endif %}

                   {% if save_success or save_failed %}
                      <div class="alert {{ alertstyle  }} alert-dismissable">
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                         <button type="button" class="btn {{ btnstyle }} btn-circle"><i class="fa {{ fastyle }}"></i></button>
                         <i>{{ save_message }}</i>
                      </div>
                   {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                 <div class="col-lg-12">
                     <div class="panel panel-default">
                         <!-- .panel-heading -->
                         <div class="panel-body">
                             <div class="panel-group" id="accordion">
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">User Details</a></h4>
                                     </div>
                                     <div id="collapseOne" class="panel-collapse collapse {% if show_userdetails_form %} in {% endif %}">
                                         <div class="panel-body">

                                                <!-- User Details Start-->
                                                <div class="col-lg-12">
                                                    <form action="/core/profile/save" id="userdetailsform" class="userdetailsform" method="post" role="form"> {% csrf_token %}
                                                       <span class="pull-right"> <button id="edit_user_details" type="button" class="btn btn-info btn-circle"><i class="fa fa-edit"></i> </button> </span>
                                                       <fieldset id="form_user_details" {% if profile_edit == 0 %}disabled{% endif %}>
                                                         <div class="col-lg-8">
                                                            <label style="float:left;">Title & Name</label>
                                                            <div style="clear:both"></div>
                                                            <div style="float:left;padding-right:15px;">
                                                                    <select required class="form-control" name="title">
                                                                        <option value="">Title</option>
                                                                        {% for tkey, tval in user.TITLES %}
                                                                        <option value="{{tkey}}" {% if user.title == tkey %}selected{% endif %}>{{tval}}</option>
                                                                        {% endfor %}
                                                                     </select>
                                                            </div>
                                                            <div style="float:left;padding-right:15px;">
                                                                    <input class="form-control" placeholder="First Name" name="firstname" value="{{ user.firstname }}">
                                                            </div>
                                                            <div style="float:left;padding-right:15px;">
                                                                    <input class="form-control" placeholder="Last Name" name="lastname" value="{{user.lastname }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style="clear:both;"></div>
                                                        <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Sex</label>
                                                                    <select required class="form-control" style="width:30%" name="sex">
                                                                        <option value="">--</option>
                                                                        {% for skey, sval in user.SEXCODES %}
                                                                        <option value="{{skey}}" {% if user.sex == skey %}selected{% endif %}>{{sval}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <input class="form-control" id="dobdatepicker" style="width:40%" placeholder="MM/DD/YYYY" name="dob" value="{{user.dob|date:"m/d/Y"}}">
                                                                </div>
                                                        </div>
                                                        <div class="form-group" style="clear:both;"></div>
                                                        <div class="col-lg-6">
                                                                <div class="form-group">
                                                                        <label>Address</label>
                                                                        <input class="form-control" placeholder="Address Line 1" name="address1" value="{{user.address1}}">
                                                                </div>
                                                                <div class="form-group">
                                                                        <input class="form-control" placeholder="Address Line 2" name="address2" value="{{user.address2}}">
                                                                </div>
                                                                <div class="form-group">
                                                                        <input class="form-control" placeholder="City" name="city" value="{{user.city}}">
                                                                </div>
                                                                <div class="form-group">
                                                                        <input class="form-control" placeholder="State" name="state" value="{{user.state}}">
                                                                </div>
                                                                <div class="form-group">
                                                                        <input class="form-control" placeholder="Postal Code" name="zipcode" value="{{user.zipcode}}">
                                                                </div>
                                                                <div class="form-group">
                                                                        <select required class="form-control" name="country">
                                                                                <option value="">Select Country</option>
                                                                                {% for ckey, cval in user.COUNTRYLIST %}
                                                                                <option value="{{ckey}}" {% if user.country == ckey %}selected{% endif %}>{{cval}}</option>
                                                                                {% endfor %}
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                                <div class="form-group">
                                                                        <label>Email</label>
                                                                        <input class="form-control" placeholder="Email Address" name="emailid" value="{{user.emailid}}">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label>Mobile Phone</label>
                                                                        <input class="form-control" placeholder="Contact Number" name="mobileno" value="{{user.mobileno}}">
                                                                </div>
                                                        </div>
                                                        <div class="form-group" style="clear:both;"></div>
                                                        <div class="col-lg-6">
                                                                <div class="form-group button" style="float:left;padding-right:30px">
                                                                        <input class="btn btn-primary btn-block" type="submit" value="&nbsp;Save&nbsp;">
                                                                </div>
                                                                <div class="form-group button" style="float:left;padding-right:30px">
                                                                        <input class="btn btn-primary btn-block" type="submit" id="cancelbutton_userdetails" value="Cancel">
                                                                </div>
                                                          </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <!-- User Details End -->

                                         </div>
                                     </div>
                                 </div>
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         <h4 class="panel-title">
                                             <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Change Password</a>
                                         </h4>
                                     </div>
                                     <div id="collapseTwo" class="panel-collapse collapse {% if show_password_form %} in {% endif %}">
                                         <div class="panel-body">
                                                <!-- Change Password Start -->
                                                <div class="col-lg-8">
                                                    <form action="/core/password/change" id="pswdform" class="pswdform" method="post" role="form"> {% csrf_token %}
                                                         <div class="col-lg-12 form-group" id="currentpassword_div">
                                                            <table>
                                                               <tr>
                                                                  <td style="padding:0px;width:200px;">
                                                                     <label style="float:left;">Current Password</label>
                                                                  </td>
                                                                  <td class="fixwidth">
                                                                     <input class="form-control" type="password" placeholder="Current Password" id="currentpassword" name="currentpassword" value="">
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </div>
                                                         <div class="col-lg-12 form-group" id="newpassword_div">
                                                            <table>
                                                               <tr>
                                                                  <td style="padding:0px;width:200px;">
                                                                      <label style="float:left;">New Password</label>
                                                                  </td>
                                                                  <td class="fixwidth">
                                                                      <input class="form-control" type="password" placeholder="New Password" id="newpassword" name="newpassword" value="" data-toggle="tooltip" data-placement="top" data-original-title="Password should be atleast 6 digits. Should contain Alpha-numeric, Mix case, atleast 1 special character">
                                                                  </td>
                                                                  <td>
                                                                      <button id="newpassword_strength" disabled type="button" style="display:none" class="btn btn-circle"> <i id="newpassword_strength_icon" class="fa"></i> </button>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                          </div>
                                                         <div class="col-lg-12 form-group" id="newpasswordconfirm_div">
                                                            <table>
                                                               <tr>
                                                                  <td style="padding:0px;width:200px;">
                                                                      <label style="float:left;">Confirm New Password</label>
                                                                  </td>
                                                                  <td class="fixwidth">
                                                                      <input class="form-control" type="password" placeholder="New Password Again" id="newpasswordconfirm" name="newpasswordconfirm" value="">
                                                                  </td>
                                                                  <td>
                                                                      <button id="newpasswordconfirm_strength" disabled type="button" style="display:none" class="btn btn-circle"> <i id="newpasswordconfirm_strength_icon" class="fa"></i> </button>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                          </div>
                                                          <div class="col-lg-8">
                                                             <div class="form-group button" style="float:left;padding-right:30px">
                                                                 <input class="btn btn-primary btn-block" type="submit" value="Submit">
                                                             </div>
                                                             <div class="form-group button" style="float:left;padding-right:30px">
                                                                 <input class="btn btn-primary btn-block" type="submit" id="cancelbutton_pswdchange" value="Cancel">
                                                             </div>
                                                          </div>
                                                    </form>
                                                </div>
                                                <!-- Change Password End -->

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- .panel-body -->
                     </div>
                     <!-- /.panel -->
                 </div>
                 <!-- /.col-lg-12 -->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><b>Cancel Notification</b></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancel ?
If Yes, the changes will not be saved.
                     </div>
                     <div class="modal-footer">
                             <a class="btn btn-warning" href="/home/">Yes Cancel</a>
                                 <button type="button" class="btn btn-primary" data-dismiss="modal">Stay here</button>
                     </div>
                     </div>
                     <!-- /.modal-content -->
                 </div>
                 <!-- /.modal-dialog -->
             </div>
             <!-- /.modal -->

             <!-- Modal -->
             <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <h4 class="modal-title" id="alertModalLabel"></h4>
                     </div>
                     <div class="modal-body" id="alertModalMsg">
                    </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <script src="/static/assets/brandify/javascript/unicorn.js"></script>
            <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
            <script src="/static/assets/brandify/javascript/profile.js"></script>

            <script>
              $( function() {
                $( "#dobdatepicker" ).datepicker();
              } );

              $('.pswdform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });

              unicorn.page.profile.initialize();
            </script>
{% endblock %}

