<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unicorn</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/assets/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0;background-color:#2e6da4;">
            {% include "core/includes/nav_header.html" %}
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="login-panel panel panel-primary" style="background-color:#eeeeee">
                        <div class="panel-heading">
                             <p class="fa fa-refresh" style="float: left; padding-right:15px; padding-top:3px">
                             <h3 class="panel-title" style="padding-right:15px; padding-top:3px">Reset Password</h3> </p>
                        </div>
                        {% if reset_password_prompt %}
                        <div class="panel-body">
                            {% if reset_status == 'error' %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ reset_message }}
                            </div>
                            {% elif reset_status == 'success' %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ reset_message }}
                            </div>
                            {% endif %}
                            <form action="/core/resetpassword/prompt" method="post" role="form"> {% csrf_token %}
                                <fieldset>
                                    <label>Enter your Unicorn Login name or Registered Email address</label>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Login name / Email Address" name="rwpusername" autofocus>
                                    </div>
            			<div class="form-group button" style="text-align:center">
                                        	<input class="btn btn-primary btn-medium" type="submit" value="Submit">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        {% endif %}
                        {% if reset_password_form %}
                        <div class="panel-body">
                            {% if reset_status == 'error' %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ reset_message }}
                            </div>
                            {% elif reset_status == 'success' %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ reset_message }}
                            </div>
                            {% endif %}
                            <form action="/core/resetpassword/form" class="resetpswdform" id="resetpswdform" method="post" role="form"> {% csrf_token %}
                                <input type="hidden" name="authrequestid" value="{{ authrequestid }}">
                                <fieldset>
                                    <div class="form-group">
                                        <table style="margin:auto">
                                           <tr>
                                              <td style="padding:0px;width:200px;">
                                                 <label style="float:left;">New Password</label>
                                              </td>
                                              <td class="fixwidth">
                                                 <input class="form-control" type="password" placeholder="New Password" id="newpassword" name="newpassword" value="" data-toggle="tooltip" data-placement="top" data-original-title="Password should be atleast 6 digits. Should contain Alpha-numeric, Mix case, atleast 1 special character">
                                              </td>
                                              <td style="padding-left:10px;">
                                                  <button id="newpassword_strength" disabled type="button" style="display:block" class="btn btn-circle"> <i id="newpassword_strength_icon" class="fa"></i> </button>
                                              </td>
                                           </tr>
                                        </table>
                                    </div>
                                    <div class="form-group">
                                        <table style="margin:auto">
                                           <tr>
                                              <td style="padding:0px;width:200px;">
                                                 <label style="float:left;">Confirm New Password</label>
                                              </td>
                                              <td class="fixwidth">
                                                 <input class="form-control" type="password" placeholder="New Password Again" id="newpasswordconfirm" name="newpasswordconfirm" value="">
                                              </td>
                                              <td style="padding-left:10px;">
                                                  <button id="newpasswordconfirm_strength" disabled type="button" style="display:block" class="btn btn-circle"> <i id="newpasswordconfirm_strength_icon" class="fa"></i> </button>
                                              </td>
                                           </tr>
                                        </table>
                                    </div>
            			<div class="form-group button" style="text-align:center">
                                        	<input class="btn btn-primary btn-medium" type="submit" value="Submit">
                                    </div>
                                </fieldset>
                            </form>
                         </div>
                        {% endif %}
                        {% if reset_password_success %}
                        <div class="panel-body">
                            {% if reset_status == 'error' %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ reset_message }}
                            </div>
                            {% elif reset_status == 'success' %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ reset_message }}
                            </div>
                            {% endif %}
                            <div class="alert alert-info">
                                    Click here to <a href="{{ session.unicorn_baseurl }}" class="alert-link">Login</a> to Unicorn.
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
      
        <!-- Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="alertModalLabel"></h4>
                </div>
                <div class="modal-body" id="alertModalMsg">
               </div>
               </div>
               <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
       </div>
       <!-- /.modal -->
    </div> 
    <!-- /wrapper -->

    <!-- jQuery -->
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/assets/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/assets/dist/js/sb-admin-2.js"></script>

    <script src="/static/assets/brandify/javascript/unicorn.js"></script>
    <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
    <script src="/static/assets/brandify/javascript/resetpassword.js"></script>

    <script>

              $('.resetpswdform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });

              unicorn.page.resetpassword.initialize();

    </script>

</body>

</html>
