.lmenu a {
  color: #1c4fcc;
  text-decoration: none;
}
.lmenu a:hover,
.lmenu a:focus {
  color: #23527c;
  text-decoration: underline;
}
.lmenu a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.userdetailsform {
}

.pswdform table {
  width:100%;
}
.pswdform table tr{
  float:left;
}
.pswdform table tr td{
  vertical-align: bottom;
  padding-right : 5px;
  height: 34px;
}
.pswdform table tr .fixwidth{
  width:200px;
}
