{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<h4 class="page-header"><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-12">
                       <div style="width:70%; padding-top:10px;">
                          <fieldset class="appform">
                             {% csrf_token %}

                             <div class="form-group" style="float:left; padding-right:30px;" data-toggle="tooltip" data-placement="top" data-original-title="Select the Environment">
                                 <select required class="form-control" id="environment">
                                    <option value="devl">Development</option>
                                    <option value="stag">Staging</option>
                                    <option value="prod">Production</option>
                                 </select>
                             </div>
                             <div class="form-group" style="float:left; padding-right:30px;">
                                <input class="form-control" style="width:320px;" id="searchinput" placeholder="App key/Schema/Auth IP/Auth URL" autofocus data-toggle="tooltip" data-placement="top" data-original-title="You can enter Locator appkey or Schema name or Auth IP address or Auth URL address">
                             </div>
                             <div class="form-group button" style="text-align:center;float:left;padding-right:15px;">
                                <input class="btn btn-primary btn-medium" style="width:70px" id="dosubmit" type="button" value="Search">
                             </div>
                             <div class="form-group" id="loadingdiv" style="display:none;text-align:center;float:left;padding-right:15px;">
                                <img height="70%" width="70%"  src="/static/assets/brandify/images/hourglass.gif"> </img>
                             </div>
                          </fieldset>
                       </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="appkeyinfodiv" style="display:none" class="col-lg-12">
                       <table id="appkeyinfo" class="table table-striped table-bordered" cellspacing="0" width="100%">
                             <thead>
                                 <tr>
                                     <th></th>
                                     <th>Account</th>
                                     <th>Locator Name</th>
                                     <th>App Key</th>
                                     <th>Auth URL</th>
                                     <th>Auth IP</th>
                                 </tr>
                             </thead>
                             <tfoot>
                             </tfoot>
                       </table>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

            <script src="/static/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
            <link href="/static/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">

            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>

            <script src="/static/assets/brandify/javascript/unicorn.js"></script>
            <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
            <script src="/static/assets/brandify/javascript/appkeyinfo.js"></script>

            <script>
              $('.appform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });

              unicorn.page.appkeyinfo.initialize();

            </script>

<style type="text/css" class="init">
td.details-control {
  background: url('/static/assets/brandify/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/static/assets/brandify/images/details_close.png') no-repeat center center;
}
</style>
{% endblock %}
