{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                            <h4 class="page-header"><strong>W2GI - Utilities</strong></h4>
                    </div>
                    <div class="col-lg-12">
                        <table class="table">
                                <thead>
                                <tr>
                                        <th style="width:30%">App Name</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                        <td>Refresh Commands</td>
                                        <!--<td><a href="clearcache.cgi">Click Here</a></td>-->
                                        <td><a href="/util/app/clearcache/show/#">Clear Varnish</a></td>
                                        <td><a href="/util/app/refreshtemplate/show/#">Refresh Templates</a></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>Detect Broken URLs</td>
                                        <td><a href="/util/app/epage/urlvalidatorprod/">Click Here</a></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>Appkey Info</td>
                                        <td><a href="/util/app/appkeyinfo/show/#">Click Here</a></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>Yelp Apps</td>
                                        <td><a href="/util/app/yelpapi/show">Yelp API</a></td>
                                        <td><a href="/util/app/yelpreport/show">Yelp SocialGraphs</a></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>Google Apps</td>
                                        <td><a href="/util/app/epage/googlesearchbyphone/">Search By Phone</a></td>
                                        <td><a href="/util/app/epage/gmbapiquerypage/">GMB API Query</td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>Social Graph</td>
                                        <td><a href="/util/app/epage/socialdatadeduplication/">Deduplication Report</a></td>
                                        <td><a href="/util/app/epage/socialdatasda/">SDA Report</a></td>
                                        <td><a href="/util/app/sdcreport/show/#">SDC Report</a></td>
                                </tr>
                                <tr>
                                        <td>Upload Queue</td>
                                        <td class="success"><a href="/util/app/pull/uploadqueue/devl/">Development</a></td>
                                        <td class="info"><a href="/util/app/pull/uploadqueue/stag/">Staging</a></td>
                                        <td class="danger"><a href="/util/app/pull/uploadqueue/prod/">Production</a></td>
                                </tr>
                                <!--<tr>
                                        <td>Location Audit</td>
                                        <td><a href="/templates/query-audit.tmpl?system=dev">Development</a></td>
                                        <td><a href="/templates/query-audit.tmpl?system=stag">Staging</a></td>
                                        <td><a href="/templates/query-audit.tmpl?sys=prod">Production</a></td>
                                </tr> -->
                                <tr>
                                        <td>Upload and LDS Mapping</td>
                                        <td class="success"><a href="/util/app/epage/querymappingsdevl/">Development</a></td>
                                        <td class="info"><a href="/util/app/epage/querymappingsstag/">Staging</a></td>
                                        <td class="danger"><a href="/util/app/epage/querymappingsprod/">Production</a></td>
                                </tr>
                                <tr>
                                        <td>Location Audit</td>
                                        <td class="success"><a href="/util/app/epage/queryauditdevl/">Development</a></td>
                                        <td class="info"><a href="/util/app/epage/queryauditstag/">Staging</a></td>
                                        <td class="danger"><a href="/util/app/epage/queryauditprod/">Production</a></td>
                                </tr>
                                <tr>
                                        <td>CrackerBarrel WaitTime</td>
                                        <td>NA</td>
                                        <td class="info"><a href="/util/app/epage/cbdinetimestag/">Staging</a></td>
                                        <td class="danger"><a href="/util/app/epage/cbdinetimeprod/">Production</a></td>
                                </tr>
                                <tr>
                                        <td>CrackerBarrel DineTime Report</td>
                                        <td><a href="/util/app/dinetimestats/show">Click Here</a></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>W2GI JSON Tester</td>
                                        <td><a href="https://hosted.where2getit.com/jsonTest-simple.html">Click Here</a></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>Category Engine</td>
                                        <td><a href="/util/app/categoryengine/show">Click Here</a></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>Finance Report</td>
                                        <td><a href="/util/app/financereport/byfeature">By Feature</a></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
{% endblock %}
