{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<h4 class="page-header"><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-12">
                       <div style="width:95%; padding-top:10px;">
                          <fieldset class="appform">
                             {% csrf_token %}

                             <div class="form-group" style="float:left; padding-right:30px;" data-toggle="tooltip" data-placement="top" data-original-title="Select the Country">
                                 <select required class="form-control" id="country">
                                    <option value="">Select Country</option>
                                    {% for ckey, cval in countrylist %}
                                    <option value="{{ckey}}" {% if ckey == 'US' %}selected{% endif %}>{{cval}}</option>
                                    {% endfor %}
                                 </select>
                             </div>
                             <div class="form-group" style="float:left; padding-right:30px;" data-toggle="tooltip" data-placement="top" data-original-title="Select Social Distributor">
                                 <select required class="form-control" id="distributor">
                                    <option value="google">Google</option>
                                    <option value="facebook">Facebook</option>
                                    <option value="foursquare">Foursquare</option>
                                    <option value="yelp">Yelp</option>
                                    <option value="factual">Factual</option>
                                    <option value="tomtom">Tom Tom</option>
                                    <option value="hotfrog">Hot Frog</option>
                                    <option value="here">Here</option>
                                    <option value="yalwa">Yalwa</option>
                                    <option value="tripadvisor">Trip Advisor</option>
                                    <option value="brownbook">Brown Book</option>
                                    <option value="cylex">Cylex</option>
                                    <option value="whereto">Where to</option>
                                    <option value="infobel">Infobel</option>
                                    <option value="apple">Apple</option>
                                    <option value="opensteetmap">Open Street Map</option>
                                    <option value="instagram">Instagram</option>
                                    <option value="goldenpages">Golden Pages</option>
                                 </select>
                             </div>
                             <div class="form-group" style="float:left; padding-right:30px;">
                                <input class="form-control" style="width:300px;" id="searchtext" placeholder="Category Search Text" autofocus data-toggle="tooltip" data-placement="top" data-original-title="Category Name / Id search">
                             </div>
                             <div class="form-group button" style="text-align:center;float:left;padding-right:15px;">
                                <input class="btn btn-primary btn-medium" style="width:70px" id="dosubmit" type="button" value="Submit">
                             </div>
                             <div class="form-group" id="loadingdiv" style="display:none;text-align:center;float:left;padding-right:15px;">
                                <img height="70%" width="70%"  src="/static/assets/brandify/images/hourglass.gif"> </img>
                             </div>
                          </fieldset>
                          <fieldset class="actform" style="display:none">
                             <div class="form-group" style="float:left; padding-right:30px;" data-toggle="tooltip" data-placement="top" data-original-title="Select the Action">
                                 <select required class="form-control" id="reportaction">
                                    <option value="NONE">Not Implemented Any</option>
                                 </select>
                             </div>
                             <div class="form-group button" style="text-align:center;float:left;padding-right:15px;">
                                <input class="btn btn-danger btn-medium" style="width:70px" id="doaction" type="button" value="Trigger">
                             </div>
                          </fieldset>
                       </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="reportinfodiv" style="display:none" class="col-lg-12">
                       <table id="reportinfo" class="table table-striped table-bordered" style="font-size:12px" cellspacing="0" width="100%">
                             <thead>
                                 <tr style="text-align:center">
                                     <th class="no-sort"></th>
                                     <th>Google Id</th>
                                     <th>Google Name</th>
                                     <th>Facebook Id</th>
                                     <th>Facebook Name</th>
                                     <th>Foursquare Id</th>
                                     <th>Foursquare Name</th>
                                     <th>Yelp Id</th>
                                     <th>Yelp Name</th>
                                     <th>Factual Id</th>
                                     <th>Factual Name</th>
                                     <th>TomTom Id</th>
                                     <th>TomTom Name</th>
                                     <th>HotFrog Id</th>
                                     <th>HotFrog Name</th>
                                     <th>Here Id</th>
                                     <th>Here Name</th>
                                     <th>Yalwa Id</th>
                                     <th>Yalwa Name</th>
                                     <th>TripAdvisor Id</th>
                                     <th>TripAdvisor Name</th>
                                     <th>BrownBook Id</th>
                                     <th>BrownBook Name</th>
                                     <th>Cylex Id</th>
                                     <th>Cylex Name</th>
                                     <th>WhereTo Id</th>
                                     <th>WhereTo Name</th>
                                     <th>InfoBel Id</th>
                                     <th>InfoBel Name</th>
                                     <th>Apple Id</th>
                                     <th>Apple Name</th>
                                     <th>OpenStreet Id</th>
                                     <th>OpenStreet Name</th>
                                     <th>Instagram Id</th>
                                     <th>Instagram Name</th>
                                     <th>GoldenPages Id</th>
                                     <th>GoldenPages Name</th>
                                 </tr>
                             </thead>
                             <tfoot>
                             </tfoot>
                       </table>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

            <!-- Modal -->
            <div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header alert alert-info">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><b>Confirmation</b></h4>
                    </div>
                    <div class="modal-body">
The Server cache is cleared successfully!!<br/>
Do you want to open this page now in a new window ?
                    </div>
                    <div class="modal-footer">
                         <a class="btn btn-warning" id="triggerbutton">Yes</a>
                         <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>
                    <!-- /.modal-content -->
                 </div>
                 <!-- /.modal-dialog -->
             </div>
             <!-- /.modal -->

            <script src="/static/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
            <link href="/static/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
            <link href="//cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">

            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.16/api/fnFilterClear.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>

            <script src="/static/assets/brandify/javascript/unicorn.js"></script>
            <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
            <script src="/static/assets/brandify/javascript/categoryengine.js"></script>

            <script>
              $('.appform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });

              unicorn.page.categoryengine.initialize();

            </script>

<style type="text/css" class="init">

.appform {
   float:left;
}

.actform {
   float:left;
   padding-left:150px;
   display:none;
}

td.details-control {
  background: url('/static/assets/brandify/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/static/assets/brandify/images/details_close.png') no-repeat center center;
}
td.highlight {
    background-color: #dff0d8 !important;
}
tr.even.highlight {
    background-color: #dff0d8 !important;
}
tr.odd.highlight {
    background-color: #dff0d8 !important;
}
</style>
{% endblock %}
