{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<h4 class="page-header"><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-12">
                       <div style="width:70%; padding-top:10px;">
                          <fieldset class="appform">
                             {% csrf_token %}

                             <div class="form-group" style="float:left; padding-right:30px;">
                                 <input class="form-control" style="width:400px;" id="url" placeholder="URL to Clear" autofocus data-toggle="tooltip" data-placement="top" data-original-title="Please enter the URL whose cache needs to be cleared">
                             </div>
                             <div class="form-group" style="float:left; padding-right:30px;">
                                 <input class="form-control" style="width:150px;" id="account" placeholder="Account / Schema" autofocus data-toggle="tooltip" data-placement="top" data-original-title="Enter W2GI Schema viz Account Name">
                             </div>
                             <div class="form-group button" style="text-align:center;float:left;padding-right:15px;">
                                <input class="btn btn-primary btn-medium" style="width:70px" id="dosubmit" type="button" value="Submit">
                             </div>
                             <div class="form-group" id="loadingdiv" style="display:none;text-align:center;float:left;padding-right:15px;">
                                <img height="70%" width="70%"  src="/static/assets/brandify/images/hourglass.gif"> </img>
                             </div>
                          </fieldset>
                       </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

            <!-- Modal -->
            <div class="modal fade" id="promptSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header alert alert-info">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><b>Notification</b></h4>
                    </div>
                    <div class="modal-body">
The Server cache is cleared successfully!!<br/>
Do you want to open this page now in a new window ?
                    </div>
                    <div class="modal-footer">
                         <a class="btn btn-warning" id="openbutton">Open</a>
                         <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>
                    <!-- /.modal-content -->
                 </div>
                 <!-- /.modal-dialog -->
             </div>
             <!-- /.modal -->

            <script src="/static/assets/brandify/javascript/unicorn.js"></script>
            <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
            <script src="/static/assets/brandify/javascript/clearcache.js"></script>

            <script>
              $('.appform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });

              unicorn.page.clearcache.initialize();

            </script>

{% endblock %}
