{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<h4 class="page-header"><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-12">
                       <div style="width:70%; padding-top:10px;">
                          <fieldset class="appform">
                             {% csrf_token %}

                             <div class="form-group" style="float:left; padding-right:30px;" data-toggle="tooltip" data-placement="top" data-original-title="Select the Environment">
                                 <select required class="form-control" id="environment">
                                    <option value="prod">Production</option>
                                 </select>
                             </div>
                             <div class="form-group" id="clientkeydiv" style="float:left; padding-right:30px;">
                                <input class="form-control" style="width:280px;" id="clientkey" placeholder="Client Key. Type 'all' for ALL clientkeys" autofocus data-toggle="tooltip" data-placement="top" data-original-title="Enter the crackerbarrel clientkey">
                             </div>
                             <div style="clear:both"></div>
                             <div class="form-group" id="sdatediv" style="float:left;padding-right:30px">
                                 <input class="form-control" id="sdate" style="" placeholder="Start Date" name="sdate" required value="">
                             </div>
                             <div class="form-group" id="edatediv" style="float:left;padding-right:30px">
                                 <input class="form-control" id="edate" style="" placeholder="End Date" name="edate" required value="">
                             </div>
                             <div class="form-group checkbox" style="float:left;padding-right:30px;">
                                 <label>
                                       <input id="bylocation" name="bylocation" value="1" type="checkbox"> By Location
                                 </label>
                             </div>
                             <div class="form-group button" style="text-align:center;float:left;padding-right:15px;">
                                <input class="btn btn-primary btn-medium" style="width:70px" id="dosubmit" type="button" value="Submit">
                             </div>
                             <div class="form-group" id="loadingdiv" style="display:none;text-align:center;float:left;padding-right:15px;">
                                <img height="70%" width="70%"  src="/static/assets/brandify/images/hourglass.gif"> </img>
                             </div>
                          </fieldset>
                       </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="dinetimestatsdiv" style="display:none" class="col-lg-12">
                       <table id="dinetimestats" class="table table-striped table-bordered" cellspacing="0" width="100%">
                       </table>
                    </div>
                    <div id="alldinetimestatsdiv" style="display:none" class="col-lg-12">
                       <table id="alldinetimestats" class="table table-striped table-bordered" cellspacing="0" width="100%">
                       </table>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

            <script src="/static/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
            <link href="/static/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">

            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>

            <script src="/static/assets/brandify/javascript/unicorn.js"></script>
            <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
            <script src="/static/assets/brandify/javascript/dinetimestats.js"></script>

            <script>
              $('.appform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });
              $( function() {
                $( "#sdate" ).datepicker();
              } );
              $( function() {
                $( "#edate" ).datepicker();
              } );

              unicorn.page.dinetimestats.initialize();

            </script>

<style type="text/css">
.num_rightalign  { 
  text-align: right; 
}
</style>
{% endblock %}
