{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header"><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-12">
                        <iframe id="epage" height="720px" frameborder="0" width="100%" scrolling="yes" src="{{url}}" name="{{name}}_frame"></iframe>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
{% endblock %}
