{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<h4 class="page-header"><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-12">
                       <div style="width:95%; padding-top:10px;">
                          <fieldset class="appform">
                             {% csrf_token %}

                             <div class="form-group" style="float:left; padding-right:30px;" data-toggle="tooltip" data-placement="top" data-original-title="Select the Report Type">
                                 <select required class="form-control" id="graphsource">
                                    <option value="foursquareplaces">FourSquare</option>
                                    <option value="facebookplaces">Facebook</option>
                                    <option value="googleplaces">Google</option>
                                    <option value="bingplaces">Bing</option>
                                    <option value="yelpplaces">Yelp</option>
                                    <option value="ypplaces">Yellow Pages</option>
                                    <option value="411places">411</option>
                                    <option value="citysquaresplaces">City Square</option>
                                    <option value="judysbookplaces">Judys Book</option>
                                    <option value="showmelocalplaces">Showme Local</option>
                                    <option value="mcircleplaces">Merchant Circle</option>
                                    <option value="mylsplaces">My Local Services</option>
                                    <option value="osmplaces">Openstreet Map</option>
                                    <option value="yalwaplaces">Yalwa</option>
                                    <option value="hotfrogplaces">Hot Frog</option>
                                 </select>
                             </div>
                             <div class="form-group" style="float:left; padding-right:30px;" data-toggle="tooltip" data-placement="top" data-original-title="Select Claimed Status">
                                 <select required class="form-control" id="isclaimed">
                                    <option value="Y">Claimed</option>
                                    <option value="N">Not Claimed</option>
                                    <option value="B">Both</option>
                                 </select>
                             </div>
                             <div class="form-group" style="float:left; padding-right:30px;">
                                <input class="form-control" style="width:200px;" id="schemaname" placeholder="Schema" autofocus data-toggle="tooltip" data-placement="top" data-original-title="Ignite Schema Name">
                             </div>
                             <div class="form-group button" style="text-align:center;float:left;padding-right:15px;">
                                <input class="btn btn-primary btn-medium" style="width:70px" id="dosubmit" type="button" value="Submit">
                             </div>
                             <div class="form-group" id="loadingdiv" style="display:none;text-align:center;float:left;padding-right:15px;">
                                <img height="70%" width="70%"  src="/static/assets/brandify/images/hourglass.gif"> </img>
                             </div>
                          </fieldset>
                       </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="reportinfodiv" style="display:none" class="col-lg-12">
                       <table id="reportinfo" class="table table-striped table-bordered" style="font-size:12px" cellspacing="0" width="100%">
                             <thead>
                                 <tr style="text-align:center">
                                     <th>Account</th>
                                     <th>Graph Source</th>
                                     <th>Brandify UID</th>
                                     <th>Client Key</th>
                                     <th>GraphId</th>
                                     <th>Is Claimed</th>
                                     <th>Claimed Timestamp</th>
                                     <th>Is Primary</th>
                                     <th>Extra GraphId1</th>
                                     <th>Extra GraphId2</th>
                                     <th>Store Name</th>
                                     <th>Address</th>
                                     <th>City</th>
                                     <th>State</th>
                                     <th>PostalCode</th>
                                     <th>Country</th>
                                     <th>GraphUrl</th>
                                 </tr>
                             </thead>
                             <tfoot>
                             </tfoot>
                       </table>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

            <!-- Modal -->
            <div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header alert alert-info">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><b>Confirmation</b></h4>
                    </div>
                    <div class="modal-body">
The Server cache is cleared successfully!!<br/>
Do you want to open this page now in a new window ?
                    </div>
                    <div class="modal-footer">
                         <a class="btn btn-warning" id="triggerbutton">Yes</a>
                         <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>
                    <!-- /.modal-content -->
                 </div>
                 <!-- /.modal-dialog -->
             </div>
             <!-- /.modal -->

            <script src="/static/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
            <link href="/static/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
            <link href="//cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">

            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.16/api/fnFilterClear.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>

            <script src="/static/assets/brandify/javascript/unicorn.js"></script>
            <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
            <script src="/static/assets/brandify/javascript/sdcreport.js"></script>

            <script>
              $('.appform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });

              unicorn.page.sdcreport.initialize();

            </script>

<style type="text/css" class="init">

.appform {
   float:left;
}

.actform {
   float:left;
   padding-left:150px;
   display:none;
}

td.details-control {
  background: url('/static/assets/brandify/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/static/assets/brandify/images/details_close.png') no-repeat center center;
}
td.highlight {
    background-color: #dff0d8 !important;
}
tr.even.highlight {
    background-color: #dff0d8 !important;
}
tr.odd.highlight {
    background-color: #dff0d8 !important;
}
</style>
{% endblock %}
