{% extends "core/base.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<h4 class="page-header"><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-12">
                       <div style="width:70%; padding-top:10px;">
                          <form action="/util/app/yelpapi" id="pswdform" class="pswdform" method="post" role="form"> {% csrf_token %}
                              <fieldset class="appform">
                                  <div class="form-group">
                                      <label>Select Yelp API</label>
                                      <label class="radio-inline">
                                          <!--<input type="radio" name="yelpapi" id="yelpapijob" value="jobstatus" {% if yelpapi == 'jobstatus' %}checked=""{% endif %}>Job Status-->
                                          <input type="radio" name="yelpapi" id="yelpapijob" value="jobstatus" checked="">Job Status
                                      </label>
                                      <label class="radio-inline">
                                          <input type="radio" name="yelpapi" id="yelpapibiz" value="businessinfo" {% if yelpapi == 'businessinfo' %}checked=""{% endif %}>Business Details
                                      </label>
                                  </div>
                                 <div class="form-group" style="float:left; padding-right:30px;">
                                    <input class="form-control" style="width:300px;" id="yelpjobid" name="yelpjobid" placeholder="" autofocus value="{{yelpjobid}}">
                                 </div>
                                 <div class="form-group button" style="text-align:center;float:left;padding-right:15px;">
                                    <input class="btn btn-primary btn-medium" style="width:70px" id="dosubmit" type="submit" value="Search">
                                 </div>
                                 <div class="form-group" id="loadingdiv" style="display:none;text-align:center;float:left;padding-right:15px;">
                                    <img height="70%" width="70%"  src="/static/assets/brandify/images/hourglass.gif"> </img>
                                 </div>
                              </fieldset>
                          </form>
                       </div>
                    </div>
                    <!-- /.col-lg-12 -->

                    {% if response_status == 0 %}
                    <div class="col-lg-12">
                       <div class="panel panel-red">
                           <div class="panel-heading">
                               Yelp API Response
                           </div>
                           <!-- /.panel-heading -->
                           <div class="panel-body">
                                       <pre style="background-color:#f2dede">Invalid Yelp Job ID!!</pre>
                           </div>
                       </div>
                    </div>
                    {% elif response_status == 1 %}
                    <div class="col-lg-12">
                       <br/>
                       <div class="panel panel-green">
                           <div class="panel-heading">
                               Yelp API Response
                           </div>
                           <!-- /.panel-heading -->

                           {% if yelpapi == 'jobstatus' %}
                           <div class="panel-body">
                               <!-- Nav tabs -->
                               <ul class="nav nav-tabs">
                                   <li class="active"><a href="#jobstatus" data-toggle="tab" aria-expanded="false">Job Status</a>
                                   </li>
                                   <li class=""><a href="#claimstatus" data-toggle="tab" aria-expanded="true">Claim Status</a>
                                   </li>
                               </ul>
                               <!-- Tab panes -->
                               <div class="tab-content" style="height:600px;overflow:scroll">
                                   <div class="tab-pane fade active in" id="jobstatus">
                                       <pre style="background-color:#dff0d8">{{jobstatus_response}}</pre>
                                   </div>
                                   <div class="tab-pane fade" id="claimstatus">
                                       <pre style="background-color:#fcf8e3">{{claimstatus_response}}</pre>
                                   </div>
                               </div>
                           </div>
                           <!-- /.panel-body -->
                           {% endif %}

                           {% if yelpapi == 'businessinfo' %}
                           <div class="panel-body">
                               <!-- Nav tabs -->
                               <ul class="nav nav-tabs">
                                   <li class="active"><a href="#jobstatus" data-toggle="tab" aria-expanded="false">Business Info</a>
                                   </li>
                                   <li class=""><a href="#claimstatus" data-toggle="tab" aria-expanded="true">Migration Info</a>
                                   </li>
                               </ul>
                               <!-- Tab panes -->
                               <div class="tab-content" style="height:600px;overflow:scroll">
                                   <div class="tab-pane fade active in" id="jobstatus">
                                       <pre style="background-color:#dff0d8">{{bizinfo_response}}</pre>
                                   </div>
                                   <div class="tab-pane fade" id="claimstatus">
                                       <pre style="background-color:#fcf8e3">Not Implemented!! Dev inn progress</pre>
                                   </div>
                               </div>
                           </div>
                           <!-- /.panel-body -->
                           {% endif %}
                       </div>
                       <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-8 -->
                    {% endif %}

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

            <script src="/static/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
            <link href="/static/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">

            <script src="/static/assets/brandify/javascript/unicorn.js"></script>
            <script src="/static/assets/brandify/javascript/unicorn.page.js"></script>
            <script src="/static/assets/brandify/javascript/yelpapi.js"></script>

            <script>
              $('.appform').tooltip({
                  selector: "[data-toggle=tooltip]",
                  container: "body"
              });

              unicorn.page.yelpapi.initialize();

            </script>

<style type="text/css" class="init">
td.details-control {
  background: url('/static/assets/brandify/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/static/assets/brandify/images/details_close.png') no-repeat center center;
}
</style>
{% endblock %}
